*,
::after,
::before {
    box-sizing: border-box;
}

$background-color: #f0f3f7e1;
// $border-color: #f5f8fa;

// label
label {
    font-size: 1.2em;
    font-weight: 500;
}

// input
input {
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;

    background-color: $background-color;
    border-color: #f5f8fa;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;

    min-height: calc(1.5em + 1.65rem + 2px);
    padding: 0.825rem 1rem;
    // font-size: 1.15rem;
    border-radius: 0.475rem;
}

input:focus {
    background-color: #e6edf3e0;
    border-color: #eef3f7;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
    outline: none;
}

// select
select {
    display: block;
    width: 100%;

    background-color: $background-color;
    border-color: #f5f8fa;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;

    padding: 0.825rem;
    // font-size: 1.15rem;
    border-radius: 0.475rem;
}
select:focus {
    background-color: #e6edf3e0;
    border-color: #eef3f7;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
    outline: none;
}

// textarea
textarea {
    display: block;
    width: 100%;

    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;

    padding-top: 0.825rem;
    padding-bottom: 0.825rem;
    padding-left: 1.5rem;
    font-size: 1.15rem;
    border-radius: 0.475rem;

    resize: vertical;
}

textarea:focus {
    background-color: #e6edf3e0;
    border-color: #eef3f7 !important;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
    outline: none;
}

// button
.form-btn {
    height: 3rem;
    width: 10rem;
}

// checkbox

.checkbox-container {
    label {
        width: 30%;
        margin: 1em;
        border: 2px dashed #ccced8;
        padding: 1.5em;
        cursor: pointer;
        border-radius: 10px;
    }
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label {
    border-color: #009ef7;
    background-color: #f1faff;
}

// add and remove button
.add-btn {
    cursor: pointer;
    &:hover {
        color: #1e88e5;
    }
}

.remove-btn {
    cursor: pointer;
    &:hover {
        color: #c62828;
    }
}
